.reviewsContainer {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.reviews__overall {
    display: flex;
    width: 200px;
}

.reviews__overall .red-star {
    color: #cc0000;
    fill: #cc0000;
    width: 30px;
    height: 30px;
}
.reviews__overall .gray-star {
    color: #ccc;
    fill: #ccc;
    width: 30px;
    height: 30px;
}
.reviews__overall p {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.reviews__seeAll a,
.reviews__seeAll a:link,
.reviews__seeAll a:visited {
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0 0;
    text-decoration: none;
    white-space: nowrap;
}

.reviews__mostHelpfulContainer {
    background-color: #f6f5f5;
}

.reviews__titles {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 0 20px 10px;
}
.review__h3 {
    color: #333;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0px;
    margin: 0;
    width: 50%;
}
.reviews {
    display: flex;
    margin: 10px 20px;
}
.reviews__review {
    width: 50%;
    padding-right: 20px;
}
.starsRating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.starsRating .red-star {
    color: #cc0000;
    fill: #cc0000;
    width: 20px;
    height: 20px;
}
.starsRating .gray-star {
    color: #ccc;
    fill: #ccc;
    width: 20px;
    height: 20px;
}
.review__h4 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.review__text {
    color: #000;
    font-size: 12px;
    font-weight: normal;
}
.reviewerDetails {
    color: #333;
    font-size: 12px;
    font-weight: normal;
}
.reviewerDetails a,
.reviewerDetails a:link,
.reviewerDetails a:visited {
    color: #0066cc;
    text-decoration: none;
}