.promotions {
    padding: 0 20px;
}

.promotion__item {
    list-style-type: none;
    color: #cc0000;
    line-height: 1.8;
}

.icon-tag {
    color: #cc0000;
    fill: #cc0000;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}